$drawerWidth=
240
px

;
$drawerZIndex=
1
;

@mixin transitions-easing-sharp() {

}

@mixin transitions-duration-leavingScreen() {

}

.root {
  display: flex;
  @include transitions-easing-sharp();


  .appBar {
    z-index: $drawerZIndex+1;

    .button {

    }
  }

  .nested {
    .listRemoveButton {

    }
  }

  .emptyListText {

  }

  .drawer {
    .drawerPaper {

    }

    .drawerContainer {
      .addTodoListButton {

      }
    }
  }

  .content {
    .appBarSpacer {

    }
  }

  .textField {

  }
}
